.box {
    position: relative;
    width: 50px;
    height:250px;
    border: 2px solid black;
    border-radius: 10px;
    gap: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.block  {
    width: 50px; 
    height: 50px;
    position: absolute;
}
.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.red {
    background-color: red;
    top: 10px

}
.yellow {
    background-color: yellow;
    top: 100px;
}
.green {
    background-color: green;
    top: 200px;
}