.parent {
    border: 1px solid red;
}
.child {
    height: 100px;
    width: 200px;
    border: 1px solid green;
    margin: 10px auto;
}
.child2 {
    margin: 10px auto;
    height: 100px;
    width: 300px;
    border: 1px solid green;
}
.child3 {
    margin: 10px auto;
    height: 100px;
    width: 400px;
    border: 1px solid green;
}