.red {
    color: red;
}
.green {
    color: green;
}
.large {
    font-size: 30px;
}
.small {
    font-size: 20px;
}
.aqua {
    color: aqua ;
}
.arial {
    font-family: Arial;
}
.size {
    font-size: 50px;
}