#elem {
    width: 200px;
    height: 200px;
    border: 2px solid limegreen;
    border-radius: 30px ;
}
#elem2 {
    width: 250px;
    height: 100px;
    border-radius: 20px;
    background-color: aquamarine;
}
#elem3 {
    border: 1px solid red;
    width: 250px;
    height: 100px;
    border-radius: 10px 20px 30px 40px ;
}
#elem4 {
    border: 1px solid red;
    width: 250px;
    height: 100px;
    border-radius: 10px 40px ;
}
#elem5 {
    border: 1px solid red;
    width: 250px;
    height: 100px;
    border-radius: 10px 20px 30px ;
}